* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  height: 100vh;
}

li {
  list-style: none;
  margin: 0;
  padding: 0 1rem 0 0;
  text-align: right;
}

li:not(:first-of-type) {
  margin-top: 1.5rem;
}

.pBig {
  line-height: 0.7;
  font-size: 2rem;
  margin-top: 0;
}

.calculator {
  min-width: 320px;
  position: relative;
  overflow: hidden;
}

.grid {
  gap: 2px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: hsl(0, 0%, 70%);
}

/* grid-item and backgrounds */
.grid-item {
  padding: 1rem;
  display: grid;
  place-items: center;
  background-color: hsl(0, 0%, 90%);
}

.grid-item:hover {
  cursor: pointer;
}

.grid-item:hover {
  background-color: hsl(0, 0%, 85%);
}

.white-bg {
  background-color: hsl(0, 0%, 95%);

  font-weight: 900;
  font-size: 1.2rem;
}

.white-bg:hover {
  background-color: hsl(0, 0%, 85%);
}

.blue-bg {
  background-color: hsl(219, 100%, 60%);
}

.blue-bg:hover {
  background-color: hsl(219, 100%, 40%);
}

/* result div */
.result-parent {
  background-color: hsl(0, 0%, 80%);
  text-align: right;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.result {
  flex-grow: 1;
}

.current {
  padding: 3rem 1.5rem 0 0;
  font-size: 2.5rem;
  position: relative;
}

.current::after {
  content: attr(content);
  font-size: 1rem;
  position: absolute;
  top: 2rem;
  right: 1rem;
}

.history-btn {
  right: 0;
  position: absolute;
  z-index: 2;
  padding: 0.45rem;
  display: inline-block;
}

.history-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.history {
  position: absolute;
  top: 0;
  right: 0;
  left: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.history-visible {
  left: 0;
  transition: left 500ms ease;
}

.history_transparent {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  flex-grow: 1;
}

.history_content {
  background-color: hsl(0, 0%, 90%);
  height: 335px;
  width: 100%;
  overflow: scroll;
}
